/* shared font style */
* {
  font-family: "Open Sans", sans-serif;
}

.font-primary {
  color: #fd6e0a;
}

.btn-primary {
  padding: 18px 35px;
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

section{
  padding:0px 20px;
  margin: 0px;
  text-align: center;
}

/* style for navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 230px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 50px;
  color: var(--dark-02, #474747);
  font-size: 20px;
}
nav a {
  text-decoration: none;
}

/* style for banner */
.banner {
  padding: 30px 30px 0px 230px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #fff8f3;
  margin-top: 0px;
  
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, center left;
}

.download-icon {
  width: 12px;
  height: 10px;
  margin-top: 10px;
  font-weight: 700;
  padding-right: 2px;
}
.contact-button {
  background: none;
  color: #fd6e0a;
  border: 1px solid;
}

.banner-profile-pic {
  width: 650px;
  height: 730px;
  margin-right: 15px;
  background-attachment: fixed;
}

.banner-content {
  max-width: 1000px;
}

.banner-welcome {
  color: var(--dark-02, #474747);
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0px;
}

.banner-bigtext {
  color: var(--dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-text {
  /* margin-bottom: 30px; */
  margin: auto;
  max-width: 800px;
  text-align: center;
  color: var(--dark-03, #757575);
}

/* Style for About Me */

.about {
  border-radius: 10px;
  background: #fff8f3;
  margin: 100px 110px;
  text-align: center;
  padding: 130px 100px;
}
.about-me {
  color: #181818;
  font-size: 35px;
  margin-top: 0px;
}
.about-me-container {
  display: flex;
  justify-content: space-around;
}

.about-me-box {
  margin: 30px 50px 0px 5px;
}

/* Style for What I Do */

.what-div {
  background: none;
  /* max-width:200px;
  align-items: center;
  justify-content: center; */
  margin-top: 0px;
}
.what-container{
  /* justify-content: space-around; */
  /* margin-left: 220px; */
  min-width: 500px;
  /* max-width: 700px; */
  
}
.what-box {
  width: 400px;
  height: 377px;
  
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  text-align: left;
  padding: 30px;
  /* margin: 40px; */
  margin-top: 50px;

}

.box-lite-text{
  color: var(--dark-03, #757575);
  font-size: 16px;
}

/* style for Summery and resume */

.summery-main-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partition-div{
  text-align: left;
  /* margin: 230px; */
  margin-bottom: 30px;
}

.common-div{

}
.left-partition{
  margin-left: 190px;
  margin-right: 15px;
}

.right-partition{
  margin-left: 15px;
  margin-right: 190px;
}

hr{
  background: #D1D1D1;
}


/* style for footer */
.footer-div{
  background: #FFF8F3;
  display: flex;
  margin-top: 100px;
  
}
.left-foot{
  width: 50%;
  padding: 130px 0px 400px 230px;
  margin-right: 20px;
}

.right-foot{
  width: 50%;
  padding: 130px 400px 130px 130px;
  /* padding-right: 500px; */
}

input, textarea{
  padding: 15px 300px 15px 30px;
  margin-bottom: 25px;
  width: auto;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.footer-icon  img{
  margin-right: 25px;
}